@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
}


.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
}

.nav-link {
  @apply text-xl p-5;
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: #ffedd5;
}

.main-text-container {
  padding-top: 140px;
  padding-bottom: 140px;
}

.galery {
  padding-top: 70px;
  padding-bottom: 70px;
  display: grid;
}

.my-work {
  @apply text-xl bg-amber-100;
  width: 300px;
  min-width: 150px;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;

}

.image {
  @apply p-5;
}

@media (max-width: 950px) {
  .galery {
    @apply grid-cols-2;
  }

  footer {
    @apply text-[14px];
  }
}

@media (max-width: 640px) {
  .galery {
    @apply grid-cols-1;
  }
}