@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
}


.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;

  /* height: 100px;
  background-color: blue; */
  /* @apply min-h-full;
  @apply bg-lime-950; */
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: #ffedd5;
  /* @apply text-sm; */
  /* font-size: 0.875rem; */
  /* 14px */
  /* line-height: 1.25rem; */
  /* 20px */
}

.main-text-container {
  padding-top: 140px;
  padding-bottom: 140px;
}

.galery {
  padding-top: 70px;
  padding-bottom: 70px;
  display: grid;
}

.my-work {
  width: 300px;
  display: block;
  text-align: center;
  padding: 10px;
}

/* .main-container {
  @apply bg-orange-600 bg-lime-950;
  display: flex;
} */